@page "/counter"

<h1 style="font-size:30px;">Counter</h1>

<p>Current count: @currentCount</p>

<div>
    <label for="iAmount">Increment Amount:</label>
    <input id="iAmount" @bind="incrementAmount" placeholder="@incrementAmount" />
</div>
<div>
    <label for="tDuration">Task Duration (s):</label>
    <input id="tDuration" @bind="taskDurationInput" placeholder="@taskDurationInput" />
</div>
<div>
    <label for="tDelay">Task Loop Delay (ms):</label>
    <input id="tDelay" @bind="taskLoopDelayInput" placeholder="@taskLoopDelayInput" />
</div>

<br>
<span>
<button id="click_me" class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</span>
<span>
@if (!isTaskRunning)
{
    <button id="run_task" class="btn btn-secondary" @onclick="StartTask">Run Task</button>
}
else
{
    <button id="cancel_task" class="btn btn-secondary" @onclick="CancelTask">Cancel</button>
}
</span>
@code {
    private bool isTaskRunning = false;
    private bool cancelTask = false;
    private int currentCount = 0;
    private int incrementAmount = 1;
    public int taskDurationInput = 10;
    public int taskLoopDelayInput = 100;
    [Parameter]
    public int IncrementAmount
    {
        get
        {
            return incrementAmount;
        }
        set
        {
            incrementAmount = value;
        }
    }
    private void IncrementCount()
    {

        currentCount = currentCount + IncrementAmount;

    }
    public async void StartTask()
    {
hueApiCallon();
        if (!isTaskRunning){
            await DoLongRunningTask();
        
           // isTaskRunning = false;
        }
         
    }


public void hueApiCallon() 
{
var client = new RestClient("https://api.meethue.com/bridge/O8y40G2KGLC9Rqo2CcQUW0yrNd8PmFtAX4cgAuy2/groups/1/action");
client.Timeout = -1;
var request = new RestRequest(Method.PUT);
request.AddHeader("Authorization", "Bearer kBTSVhx2hPP3iKepSzJxGdYtIm9U");
request.AddHeader("Content-Type", "application/json");
var body = @"{""on"":true}";
request.AddParameter("application/json", body,  ParameterType.RequestBody);
IRestResponse response = client.Execute(request);
Console.WriteLine(response.Content);
} 
public void hueApiCalloff() 
{
var client = new RestClient("https://api.meethue.com/bridge/O8y40G2KGLC9Rqo2CcQUW0yrNd8PmFtAX4cgAuy2/groups/1/action");
client.Timeout = -1;
var request = new RestRequest(Method.PUT);
request.AddHeader("Authorization", "Bearer kBTSVhx2hPP3iKepSzJxGdYtIm9U");
request.AddHeader("Content-Type", "application/json");
var body = @"{""on"":false}";
request.AddParameter("application/json", body,  ParameterType.RequestBody);
IRestResponse response = client.Execute(request);
Console.WriteLine(response.Content);
} 
    public void CancelTask()
    {
hueApiCalloff();
        if (isTaskRunning)
        {
            cancelTask = true;

        isTaskRunning = false;
        }
    }
    async Task DoLongRunningTask()
    {
        isTaskRunning = true;
        await Task.Yield();
        System.Diagnostics.Debug.WriteLine("Starting long running task");
        DateTime endTime = DateTime.UtcNow.AddSeconds(taskDurationInput);
        while (DateTime.UtcNow < endTime && !cancelTask)
        {
            
            await Task.Delay(taskLoopDelayInput);
            currentCount = currentCount + IncrementAmount;
            StateHasChanged();
        }
        if (cancelTask)
        {
            System.Diagnostics.Debug.WriteLine("Task cancled!");
            cancelTask = false;
           
        }
        else
        {
            System.Diagnostics.Debug.WriteLine("Finished long running task");
        }
        
        isTaskRunning = false;
        StateHasChanged();
    }


}
