@page "/"

<h1>Web-Apps mit HTML5 und JavaScript</h1>

<h2>Studienarbeit zum Thema WebAssembly mit C#</h2>

Diese GitHub Page wurde als Blazor WebAssembly-App zu Demonstrationszwecken erstellt.<br/>
Der Sourcode besteht aus C#-, html- und razor-Quelldateien, die nach der Kompilierung als .NET Assemblies vorliegen.<br/>
Beim Webseitenaufruf lädt eine einzige html-Seite eine JavaScript-Bibliothek, welche das kompilierte WebAssembly in der .NET Runtime Umgebung des Browsers ausführt.
<SurveyPrompt Title="Interesse am Quellcode?" />
<br/>
<strong>Demonstration eines Zähler-Objekts mit Parameterübergabe:</strong>
<Counter IncrementAmount="2" />

