@page "/"

<h1>Web-Apps mit HTML5 und JavaScript</h1>

<h2>Studienarbeit zum Thema WebAssembly mit C#</h2>

Diese GitHub Page wurde als Blazor WebAssembly-App zu Demonstrationszwecken erstellt.
Der Sourcode besteht aus C#-, html- und razor-Quelldateien, die nach der Kompilierung als .NET Assemblies vorliegen.
Beim Webseitenaufruf lädt eine einzige html-Seite eine JavaScript-Bibliothek, welche das kompilierte WebAssambly in der .NET Runtime Umgebung des Browsers ausführt.JavaScript
<SurveyPrompt Title="Interesse am Quellcode?" />
<br>
Demonstration eines Zähler-Objekts mit Parameterübergabe:
<Counter IncrementAmount="2" />
<br>
